In [ ]:
#1 AREA OF RECTANGLE

In [ ]:
height=int(input("enter a number"))
width=int(input("enter a number"))
a=height*width
print(a)

enter a number15
enter a number7
105

In [ ]:
#2 sum,product,difference,quotient of two numbers

In [ ]:
a=int(input("enter a number-"))
b=int(input("enter a number-"))
s=a+b
r=a-b
t=a*b
f=a/b
print(s)
print(r)
print(t)
print(f)

enter a number-6
enter a number-3
9
3
18
2.0

In [ ]:
#3 convert temperature from fahrenheit to celsius
cel=float(input("enter a number "))
fer=(cel*9/5)+32
print(fer)

enter a number 89
192.2

In [ ]:
#4 check whether the number is positive or negative
num=int(input('enter a number-'))
if (num>0):
  print('number is positive')
elif (num<0):
  print('number is negative')

enter a number-8
number is positive

In [ ]:
#5 determines if a year is leap year or not
y=int(input('enter the year '))
if (y%4==0):
  print('it is leap year')
elif(y%4!=0):
  print('it is not a leap year')

enter the year 2023
it is not a leap year

In [ ]:
#6 categorizes a students grade
mark=int(input('enter the mark-'))
if(mark>90):
  print('A')
elif(mark>80):
  print('B')
elif(mark>70):
  print('C')
elif(mark>60):
  print('D')
else:
  print('fail')

enter the mark-50
fail

In [ ]:
#7 loop to print numbers from 10 to 1
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#8 print all even numbers from 1 to 20
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#9 multiplication table for the number
i=int(input('enter a number'))
for n in range(1,11):
  print(i*n)

enter a number5
5
10
15
20
25
30
35
40
45
50